services:
  dnsdist:
    image: powerdns/dnsdist-19:latest
    container_name: dnsdist_lb
    restart: always

    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "443:443/tcp"

    volumes:
      - ./dnsdist.conf:/etc/dnsdist/dnsdist.conf:ro
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - ./server.crt:/server.crt:ro
      - ./server.key:/server.key:ro

    environment:
      - TZ=America/Sao_Paulo

  api:
    build: ./app
    container_name: python_doh
    restart: always

    ports:
     - "8000:8000/tcp"

    depends_on:
      - dnsdist

    command: uvicorn main:app --host 0.0.0.0 --port 8000 --workers 8 --limit-concurrency 2000

    volumes:
      - ./app/dns_responses.csv:/dns_responses.csv:rw

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/resolve?url=google.com"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  # requester:
  #   build: ./doh-requester
  #   container_name: requester_doh
  #   restart: always

  #   depends_on:
  #     api:
  #       condition: service_healthy

  #   command: python3 /main.py